/*
  core.css
  Lighthouse Collective
  Authored on   October 25, 2019
  Last Modified October 25, 2019
*/

/*
  Contains "Core" Stylistic Properties for Neffli Website

  Core properties are defined as the stylistic properties that affect EVERY page within the Neffli Website.
*/

html, body
{
  width:  100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}


  h1
  {
    font-size: 5ex;
    color: darkblue;
  }


/*
  SITE FOOTER 
*/
.footer
{
  position: absolute;
  top: 100%;
  left: 0;
  
  width: 100%;
  height: 15ex;
  
  background-color: black;
  
  color: white
}

  .copywrite
  {
    position: inherit;
    padding-left: 5ex;
    padding-top: 5ex;

    color: inherit;
  }

/*
  TOP NAVIGATION BAR
*/
.topbar
{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 4ex;
  background-color: rgba(0, 0, 0, .8);
}

  .link
  {
    position: fixed;
    padding-left: 10ex;
    padding-top: 5px;
  }

  li a
  {
    color: white;
  }
